In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('./punecars.csv')
df.head()

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
0,2019 Jeep Compass Trailhawk,"24,05,000",2019.0,Diesel,"70,007 Kms",1956 cc,1st Owner,Automatic,16.3 kmpl,5.0,Brilliant Black,9-Speed
1,2021 Hyundai i20,"8,97,000",2021.0,Petrol,"16,670 Kms",1197 cc,1st Owner,Manual,21 kmpl,5.0,Typhoon Silver,5 Speed
2,2015 Hyundai Grand i10,"4,68,000",2015.0,Petrol,"62,393 Kms",1197 cc,2nd Owner,Automatic,18.9 kmpl,5.0,Silver,4 Speed
3,2014 Hyundai i10,"3,42,000",2014.0,Petrol,"42,328 Kms",1086 cc,1st Owner,Manual,19.81 kmpl,5.0,Wine Red,5 Speed
4,2017 Tata Nano,"1,93,000",2017.0,Petrol,"12,039 Kms",624 cc,1st Owner,Manual,25.4 kmpl,4.0,Damson Purple,4 Speed

In [4]:
df.shape

(1022, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1022 non-null   object
 1   Price         1021 non-null   object
 2   Year          1010 non-null   float64
 3   Fuel          1021 non-null   object
 4   KMS           1021 non-null   object
 5   Engine        1018 non-null   object
 6   Owners        1021 non-null   object
 7   Transmission  1021 non-null   object
 8   Mileage       1011 non-null   object
 9   Seats         1016 non-null   float64
 10  Color         958 non-null    object
 11  GearBox       1007 non-null   object
dtypes: float64(2), object(10)
memory usage: 95.9+ KB

### Dealing with Missing Values

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
missing_values = df.isnull().sum()
missing_values

In [221]:
totalcells = np.product(df.shape)
totalmissing = missing_values.sum()

percent_missing = (totalmissing/totalcells) * 100
percent_missing

0.0

In [8]:
# filling missing values in Color column with empty string.
df.loc[:,'Color'].fillna('', inplace=True)
df

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
0,2019 Jeep Compass Trailhawk,"24,05,000",2019.0,Diesel,"70,007 Kms",1956 cc,1st Owner,Automatic,16.3 kmpl,5.0,Brilliant Black,9-Speed
1,2021 Hyundai i20,"8,97,000",2021.0,Petrol,"16,670 Kms",1197 cc,1st Owner,Manual,21 kmpl,5.0,Typhoon Silver,5 Speed
2,2015 Hyundai Grand i10,"4,68,000",2015.0,Petrol,"62,393 Kms",1197 cc,2nd Owner,Automatic,18.9 kmpl,5.0,Silver,4 Speed
3,2014 Hyundai i10,"3,42,000",2014.0,Petrol,"42,328 Kms",1086 cc,1st Owner,Manual,19.81 kmpl,5.0,Wine Red,5 Speed
4,2017 Tata Nano,"1,93,000",2017.0,Petrol,"12,039 Kms",624 cc,1st Owner,Manual,25.4 kmpl,4.0,Damson Purple,4 Speed
...,...,...,...,...,...,...,...,...,...,...,...,...
1017,Maruti Alto LXi,1.6 Lakh*,2009.0,Petrol,"50,000 kms",796 CC,First Owner,Manual,19.7 kmpl,5.0,,5 Speed
1018,Maruti Ertiga VDI,5.5 Lakh*,2014.0,Diesel,"2,25,000 kms",1248 CC,First Owner,Manual,20.77 kmpl,7.0,,5 Speed
1019,Volkswagen Vento IPL II Petrol Highline AT,3.5 Lakh*,2011.0,Petrol,"50,000 kms",1598 CC,Fourth & Above Owner,Automatic,14.8 kmpl,5.0,,Six Speed Automatic Transmission
1020,Toyota Corolla Altis G,2 Lakh*,2008.0,Petrol,"90,000 kms",1798 CC,Third Owner,Manual,14.53 kmpl,5.0,,6 Speed
1021,Mahindra Scorpio M2DI,5.25 Lakh*,2012.0,Diesel,"1,20,000 kms",2179 CC,Third Owner,Manual,13.5 kmpl,5.0,White,5 Speed

In [9]:
# checking Year field for NaN values
missing_year = df.loc[:,'Year'].isnull()
df[missing_year]

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
143,Hyundai Accent Gls,"95,000*",NaN,Petrol,"70,000 Km",1495 CC,Third Owner,Manual,13.2 kmpl,5.0,White,5 Speed
144,Maruti Wagon R Lxi,"95,000*",NaN,Petrol,"80,000 Km",998 CC,Second Owner,Manual,18.9 kmpl,5.0,Green,5 Speed
781,Maruti Swift Rs Vxi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
898,Land Rover Range Rover Sport Tdv6,33 Lakh*,NaN,Diesel,"35,700 Km",2993 CC,First Owner,Automatic,14.7 kmpl,5.0,White,6-Speed
904,Mercedes-benz E-class E350 Cdi Avantgarde,13 Lakh*,NaN,Diesel,"1,30,500 Km",2987 CC,First Owner,Automatic,11.5 kmpl,5.0,White,7 Speed
912,Mercedes-benz E-class Expression E 220d,8.50 Lakh*,NaN,Diesel,"76,600 Km",1950 CC,Second Owner,Automatic,16.1 kmpl,5.0,Silver,9 Speed
917,Volkswagen Crosspolo 1.2 Mpi,6.50 Lakh*,NaN,Petrol,"9,750 Km",1198 CC,First Owner,Manual,16.47 kmpl,5.0,Silver,5 Speed
918,Toyota Corolla Altis D-4d Gl,13.90 Lakh*,NaN,Diesel,"48,100 Km",1364 CC,Second Owner,Manual,21.43 kmpl,5.0,White,6 Speed
1003,Honda Jazz 1.2 V I Vtec,7 Lakh*,NaN,Petrol,"9,000 Km",1199 CC,Unregistered Car Owner,Manual,18.7 kmpl,5.0,White Orchid Pearl,5 Speed
1004,Honda City I-dtec Zx,14.15 Lakh*,NaN,Diesel,"13,200 Km",1498 CC,Unregistered Car Owner,Manual,25.6 kmpl,5.0,Carnekian Red Pearl,6 Speed
1005,Honda City I-dtec Zx,14.15 Lakh*,NaN,Diesel,"10,000 Km",1498 CC,Unregistered Car Owner,Manual,25.6 kmpl,5.0,Modern Steel Metalic,6 Speed
1006,Honda Br-v I-dtec Vx Mt,11.50 Lakh*,NaN,Diesel,"19,800 Km",1498 CC,Unregistered Car Owner,Manual,21.9 kmpl,7.0,Golden Brown Metallica,6 Speed

In [10]:
# removing hondacity with no values
hondacity = df[df.apply(lambda row: row.astype(str).str.contains('Honda City I-dtec Zx').any(), axis=1)]
hci = hondacity.index
df.drop(hci, inplace=True)

In [11]:
# removing unregistered cars
unregistered = df[df.apply(lambda row: row.astype(str).str.contains('Unregistered Car Owner').any(), axis=1)]
unregisteredi = unregistered.index
df.drop(unregisteredi, inplace=True)

In [12]:
# this row had no values
df.drop(781, inplace=True)

In [13]:
# applying forward fill method to fill na fields in Year column
df['Year'].fillna(method='ffill', inplace=True)

In [14]:
# checking Engine field for NaN values
missing_engine = df.loc[:,'Engine'].isnull()
df[missing_engine]

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
597,Mahindra E2o Plus P6,3.99 Lakh*,2017.0,Electric(Battery),"16,000 Km",NaN,First Owner,Automatic,110 kmpl,4.0,White,Direct Drive
792,Maruti Omni Bsiii 8-str W/ Immobiliser,1.70 Lakh*,2010.0,Petrol,"1,38,001 Km",NaN,Second Owner,Manual,NaN,NaN,,NaN
849,Maruti Wagon R Vx,1.35 Lakh*,2007.0,Petrol,"1,20,000 kms",NaN,Second Owner,Manual,12.0 kmpl,5.0,,NaN

In [15]:
# filling Engine na values
df.at[597, 'Engine'] = 0
df.loc[597]['Engine']

df.at[849, 'Engine'] = '899 CC'
df.loc[849, 'Engine']

'899 CC'

In [16]:
# this row had no values
df.drop(792, inplace=True)

In [17]:
# checking GearBox field for NaN values
missing_gearbox = df.loc[:,'GearBox'].isnull()
df[missing_gearbox]

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
64,Skoda Superb Klement,38 Lakh*,2021.0,Petrol,"2,584 Km",1798 CC,First Owner,Manual,NaN,NaN,Grey,NaN
127,Maruti Swift Vdi Bsiv,2.25 Lakh*,2009.0,Diesel,"84,000 Km",1248 CC,Second Owner,Manual,17.8 kmpl,5.0,Red,NaN
229,Mahindra Bolero Lx,3.80 Lakh*,2011.0,Diesel,"1,15,300 Km",2523 CC,Second Owner,Manual,13.6 kmpl,7.0,Silver,NaN
257,Hyundai Santro Xing Xo Erlx Euro Ii,1.55 Lakh*,2007.0,Petrol,"80,000 Km",1086 CC,Second Owner,Manual,17 kmpl,5.0,White,NaN
263,Toyota Etios Liva G,3.45 Lakh*,2011.0,Petrol,"81,000 Km",1197 CC,First Owner,Manual,18.3 kmpl,5.0,Silver,NaN
321,Mahindra Scorpio VLX 4X4,4.75 Lakh*,2012.0,Diesel,"1,20,000 kms",2179 CC,Third Owner,Manual,12.05 kmpl,NaN,,NaN
373,Honda Jazz Select Edition,2.95 Lakh*,2011.0,Petrol,"88,598 Km",1198 CC,First Owner,Manual,16.7 kmpl,NaN,Red,NaN
456,Honda City 1.5 Exi,1.50 Lakh*,2005.0,Petrol,"1,33,000 Km",1493 CC,Second Owner,Manual,13 kmpl,NaN,Silver,NaN
831,Hyundai Santro Gls Ii - Euro I,1.20 Lakh*,2006.0,Petrol,"78,000 Km",999 CC,First Owner,Manual,NaN,5.0,Silver,NaN
843,Toyota Etios V,3 Lakh*,2012.0,Petrol,"1,00,000 kms",1496 CC,Second Owner,Manual,17.6 kmpl,5.0,,NaN
849,Maruti Wagon R Vx,1.35 Lakh*,2007.0,Petrol,"1,20,000 kms",899 CC,Second Owner,Manual,12.0 kmpl,5.0,,NaN
945,Volkswagen Vento Petrol Trendline At,3.20 Lakh*,2011.0,Petrol,"66,000 Km",1598 CC,Second Owner,Automatic,15.4 kmpl,5.0,White,NaN
969,Toyota Qualis Gs G4,1.80 Lakh*,2003.0,Diesel,"1,75,000 Km",2446 CC,Second Owner,Manual,NaN,8.0,Silver,NaN

In [18]:
# applying forward fill method to fill na fields in GearBox column
df['GearBox'].fillna(method='ffill', inplace=True)

In [19]:
df.loc[df['Name'] == "Hyundai Santro Xing Gl", "Mileage"] = "17.92 kmpl"

In [20]:
df.loc[df['Name'] == "Mahindra Thar Lx 4-str Hard Top Diesel At", "Mileage"] = "13.1 kmpl"

In [21]:
df.loc[df['Name'] == "Skoda Superb Klement", "Mileage"] = "15.1 kmpl"

In [22]:
df['Mileage'].fillna(method='ffill', inplace=True)

In [23]:
# checking Mileage field for NaN values
missing_mileage = df.loc[:,'Mileage'].isnull()
df[missing_mileage]

Empty DataFrame
Columns: [Name, Price, Year, Fuel, KMS, Engine, Owners, Transmission, Mileage, Seats, Color, GearBox]
Index: []

In [24]:
# checking Seats field for NaN values
missing_seat = df.loc[:,'Seats'].isnull()
df[missing_seat]

,Name,Price,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,Color,GearBox
64,Skoda Superb Klement,38 Lakh*,2021.0,Petrol,"2,584 Km",1798 CC,First Owner,Manual,15.1 kmpl,NaN,Grey,5 Speed
321,Mahindra Scorpio VLX 4X4,4.75 Lakh*,2012.0,Diesel,"1,20,000 kms",2179 CC,Third Owner,Manual,12.05 kmpl,NaN,,5-Speed
373,Honda Jazz Select Edition,2.95 Lakh*,2011.0,Petrol,"88,598 Km",1198 CC,First Owner,Manual,16.7 kmpl,NaN,Red,5 Speed
456,Honda City 1.5 Exi,1.50 Lakh*,2005.0,Petrol,"1,33,000 Km",1493 CC,Second Owner,Manual,13 kmpl,NaN,Silver,7 Speed

In [25]:
df.at[321, 'Seats'] = 7
df.loc[321, 'Seats']

7.0

In [26]:
# applying forward fill method to fill na fields in Seats column
df['Seats'].fillna(method='ffill', inplace=True)

### Backup DataFrame.

In [29]:
backup_df = df.copy()

### Formatting and Transforming Price

In [30]:
df = backup_df.copy()

In [31]:
# checking datatypes of each column
df.dtypes

Name             object
Price            object
Year            float64
Fuel             object
KMS              object
Engine           object
Owners           object
Transmission     object
Mileage          object
Seats           float64
Color            object
GearBox          object
dtype: object

In [32]:
# Converting Year from float64 to int64
df['Year'] = df['Year'].astype(np.int64)

In [33]:
# Converting Seats from float64 to int64
df['Seats'] = df['Seats'].astype(np.int64)

In [34]:
df['Price'] = df['Price'].str.replace('Lakh\*','',regex=True)

In [35]:
df['Price'] = df['Price'].str.replace(' ','')

In [38]:
df['Price'] = df['Price'].str.replace('\*','',regex=True)

In [39]:
df['Price']

0       24,05,000
1        8,97,000
2        4,68,000
3        3,42,000
4        1,93,000
          ...
1017          1.6
1018          5.5
1019          3.5
1020            2
1021         5.25
Name: Price, Length: 1016, dtype: object

In [37]:
df.groupby(df['Price'].str.len()).sum()

          Year  Seats
Price
1       120829    307
2       126986    336
3        76489    211
4      1333237   3411
5       250046    669
6        20099     45
8       114960    283
9         4040     10

In [ ]:
# PRICE_1
# ------- 24,05,000 -------
# Len of price before removing comma -> 9, Format -> 24,05,000
# Len of price after removing comma -> 7, Format -> 2405000 -- no need to edit it  [[ DONE! ]]

# PRICE_2
# ------- 4,19,000 -------
# Len of price before removing comma -> 8, Format -> 4,19,000
# Len of price after removing comma -> 6, Format -> 419000 -- no need to edit it  [[ DONE! ]]

# PRICE_3
# ------- 85,000 -------
# Len of price before removing comma -> 6, Format -> 85,000 == 85000
# Len of price after removing comma -> 5, Format -> 85000 -- no need to edit it
# One row having 'Cr' [[NEED TO REMOVE IT]]                                      [[ DONE! ]]

# PRICE_4
# ------- 24.99 ------- 
# Len of price before removing dot -> 5, Format -> 24.99Lakhs == 24.99.000
# Len of price after removing dot  -> 4, Format -> 2499 -- need to add 000 zeros [[ DONE! ]]

# PRICE_5
# ------- 1.80 ------- 
# Len of price before removing dot -> 4, Format -> 1.80Lakhs == 1.80.000
# Len of price after removing dot  -> 3, Format -> 180 -- need to add 000 zeros  [[ DONE! ]]

# PRICE_6
# ------- 3.5 -------
# Len of price before removing dot -> 3, Format -> 3.5Lakhs == 3.50.000
# Len of price after removing dot  -> 2, Format -> 35 -- need to add 0000 zeros  [[ DONE! ]]

# PRICE_7
# ------- 24 ------- two digits without dot 
# Len of price -> 2, Format -> 24Lakhs == 24.00.000 -- need to add 00000 zeros

# PRICE_8
# ------- 6 ------- one digit price
# Len of price -> 1, Format -> 6Lakh == 6.00.000 -- need to add 00000 zeros      [[ DONE! ]]

In [40]:
format_pricedf = df.copy()

In [41]:
# adding 'lakhslakhslakhs' to two digit price without dot which are actually lakhs for convenience
filter_len = format_pricedf['Price'].str.len()==2

In [42]:
format_pricedf.loc[filter_len,'Price'] = format_pricedf[filter_len]['Price'] + 'TripleTripleTriple'

In [43]:
format_pricedf['Price'] = format_pricedf['Price'].str.replace('\.','',regex=True)

In [44]:
format_pricedf['Price'] = format_pricedf['Price'].str.replace('\,','',regex=True)

In [45]:
format_pricedf['modified_price'] = format_pricedf['Price']

In [46]:
# operation for PRICE_6
filter_len = format_pricedf['Price'].str.len()==2

In [47]:
format_pricedf.loc[filter_len,'modified_price'] = format_pricedf[filter_len]['Price'] + '0000'

In [48]:
# operation for PRICE_5
filter_len = format_pricedf['Price'].str.len()==3

In [49]:
format_pricedf.loc[filter_len,'modified_price'] = format_pricedf[filter_len]['Price'] + '000'

In [50]:
# operation for PRICE_4
filter_len = format_pricedf['Price'].str.len()==4

In [51]:
format_pricedf.loc[filter_len,'modified_price'] = format_pricedf[filter_len]['Price'] + '000'

In [52]:
# operation for PRICE_8
filter_len = format_pricedf['Price'].str.len()==1

In [53]:
format_pricedf.loc[filter_len,'modified_price'] = format_pricedf[filter_len]['Price'] + '00000'

In [54]:
# operation for PRICE_3
format_pricedf.loc[734,'modified_price'] = '11800000'

In [55]:
# operation for PRICE_7
format_pricedf['Price'] = format_pricedf['Price'].str.replace('TripleTripleTriple','',regex=True)
format_pricedf['modified_price'] = format_pricedf['modified_price'].str.replace('TripleTripleTriple','',regex=True)

In [56]:
filter_len = format_pricedf['Price'].str.len()==2
format_pricedf.loc[filter_len,'modified_price'] = format_pricedf[filter_len]['Price'] + '00000'

In [57]:
# checking values for the given len
format_pricedf[format_pricedf['modified_price'].str.len()==2]

Empty DataFrame
Columns: [Name, Price, Year, Fuel, KMS, Engine, Owners, Transmission, Mileage, Seats, Color, GearBox, modified_price]
Index: []

In [58]:
format_pricedf.drop('Price',axis=1,inplace=True)

In [59]:
format_pricedf['Price'] = format_pricedf['modified_price']

In [60]:
format_pricedf.drop('modified_price',axis=1,inplace=True)

In [61]:
# Converting Price from float64 to int64
format_pricedf['Price'] = format_pricedf['Price'].astype(np.int64)

In [ ]:
format_pricedf.dtypes

### Backup DataFrame after Formatting Price

In [64]:
backupaft_price = format_pricedf.copy()

### Formatting and Transforming Engine

In [65]:
format_engine = backupaft_price.copy()

In [66]:
format_engine['Engine'] = format_engine['Engine'].str.replace('cc','')

In [67]:
format_engine['Engine'] = format_engine['Engine'].str.replace('CC','')

In [68]:
format_engine['Engine'] = format_engine['Engine'].str.replace(' ','')

In [69]:
# Electric Engine --> One CC Engine
format_engine['Engine'].fillna(1, inplace=True)

In [70]:
# Converting Engine from float64 to int64
format_engine['Engine'] = format_engine['Engine'].astype(np.int64)

### Backup Data after Formatting Engine

In [71]:
backupaft_engine = format_engine.copy()

### Formatting and Transforming Mileage

In [72]:
format_mileage = backupaft_engine.copy()

In [73]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace('kmpl','')

In [74]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace(' ','')

In [75]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace('km/kg','')

In [76]:
format_mileage['Mileage'] = format_mileage['Mileage'].astype(np.float64)

In [77]:
format_mileage.dtypes

Name             object
Year              int64
Fuel             object
KMS              object
Engine            int64
Owners           object
Transmission     object
Mileage         float64
Seats             int64
Color            object
GearBox          object
Price             int64
dtype: object

### Backup DataFrame after Formatting Mileage

In [79]:
backupaft_mileage = format_mileage.copy()

### Formatting and Transforming KMS

In [80]:
format_kms = backupaft_mileage.copy()

In [81]:
format_kms['KMS'] = format_kms['KMS'].str.replace('kms','')
format_kms['KMS'] = format_kms['KMS'].str.replace('Kms','')

In [82]:
format_kms['KMS'] = format_kms['KMS'].str.replace(' ','')

In [83]:
format_kms['KMS'] = format_kms['KMS'].str.replace(',','')

In [84]:
format_kms['KMS'] = format_kms['KMS'].str.replace('Km','')

In [85]:
format_kms['KMS'] = format_kms['KMS'].astype(np.int64)

### Backup DataFrame after Transforming KMS

In [86]:
backupaft_kms = format_kms.copy()

### Formatting and Transforming Owners

In [87]:
format_owners = backupaft_kms.copy()

In [88]:
format_owners['Owners'] = format_owners['Owners'].replace({
    "1st Owner": 1,
    "2nd Owner": 2,
    "First Owner": 1,
    "Fourth & Above Owner": 4,
    "Second Owner": 2,
    "Third Owner": 3,
})

In [ ]:
format_owners['Owners']

### Backup DataFrame after Transforming Owners

In [91]:
backupaft_owners = format_owners.copy()

### Formatting and Transforming Transmission

In [92]:
format_transmission = backupaft_owners.copy()

In [93]:
grouped = format_transmission.groupby('Transmission')
for name,group in grouped:
    print(name)

Automatic
Manual

In [94]:
format_transmission['Transmission'] = format_transmission['Transmission'].replace({
    "Manual": 1,
    "Automatic": 2
})

### Backup DataFrame after Transforming Transmission

In [96]:
backupaft_transmission = format_transmission.copy()

### Formatting and Transforming Fuel

In [97]:
format_fuel = backupaft_transmission.copy()

In [98]:
fuel_group = format_fuel.groupby('Fuel')
for name,group in fuel_group:
    print(name)

CNG
Diesel
Electric(Battery)
Petrol

In [99]:
format_fuel['Fuel'] = format_fuel['Fuel'].replace({
    "Petrol": 1,
    "Diesel": 2,
    "CNG": 3,
    "Electric(Battery)": 4
})

### Backup DataFrame after Transforming Fuel

In [100]:
backupaft_fuel = format_fuel.copy()

### Formatting and Transforming GearBox

In [202]:
format_gearbox = backupaft_fuel.copy()

In [111]:
format_gearbox.to_csv('./backupaft_fuel.csv')

In [ ]:
gearboxgrouped = format_gearbox.groupby('GearBox')
for name,group in gearboxgrouped:
    print(name)

In [203]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].replace({
    "Five Speed Manual Transmission": '5',
    "Five Speed Manual Transmission Gearbox": '5',
    "Six Speed Automatic Transmission": '6',
    "Direct Drive": '1'
})

In [204]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Speed','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('speed','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('-','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace(' ','')

In [205]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Steptronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Tiptronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Sport','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Manual','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('iMT','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('GDCT7DualClutchTransmission','')

In [207]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7DSG','7')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('5CVT','5')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('6IVT','6')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7CVT','7')

In [209]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('STronic','',regex=True)
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('CVT','7')

In [211]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('\+','',regex=True)
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('ATPaddleShifters','',regex=True)

In [213]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('CableTypeGearShift','',regex=True)
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('(','',regex=True)
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace(')','',regex=True)

In [215]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('withSequentialShift','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('AutomaticTransmission','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('AGS','5')

In [219]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].astype(np.int64)

### Backup after Formatting GearBox

In [222]:
backupaft_gearbox = format_gearbox.copy()

### Formatting and Transforming Name

In [224]:
format_name = backupaft_gearbox.copy()

In [227]:
format_name.to_csv('./GearBoxBackup/backupaft_gearbox.csv')

In [ ]:
namegroup = format_name.groupby('Name')
for name,group in namegroup:
    print(name)

In [253]:
format_name.loc[format_name['Name'].str.split(' ').str.get(0).str.isnumeric(), 'Name'] = format_name.loc[format_name['Name'].str.split(' ').str.get(0).str.isnumeric(), 'Name'].str.split(' ').str[1:].str.join(" ")

In [263]:
format_name['Name'] = format_name['Name'].str.split(' ').str[:3].str.join(' ')

In [ ]:
name_grouped = format_name.groupby(format_name['Name'].str.split(' ').str[0])
for name,group in name_grouped:
    print(name)

In [ ]:
format_name[format_name['Name'].str.contains('Mercedes-benz')]

In [282]:
format_name['Name'] = format_name['Name'].str.replace('Bmw','BMW')

In [288]:
format_name['Name'] = format_name['Name'].str.replace('Mercedes-benz','Mercedes-Benz')

In [291]:
format_name['Company'] = format_name['Name'].str.split(' ').str[0]

### Backup DataFrame after Transforming Name

In [293]:
backupaft_name = format_name.copy()

### Formatting and Transforming Color

In [297]:
format_color = backupaft_name.copy()

In [298]:
format_color.to_csv('./NameBackup/backupaft_name.csv')

In [330]:
format_color.drop('Color',axis=1,inplace=True)

In [ ]:
format_color

### Backup after Transforming Color

In [333]:
backupaft_color = format_color.copy()

In [335]:
backupaft_color.to_csv('./Final/finaldata.csv')

### Working with Cleaned Data

In [336]:
cleaned_df = backupaft_color.copy()

In [337]:
cleaned_df

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company
0,Jeep Compass Trailhawk,2019,2,70007,1956,1,2,16.30,5,9,2405000,Jeep
1,Hyundai i20,2021,1,16670,1197,1,1,21.00,5,5,897000,Hyundai
2,Hyundai Grand i10,2015,1,62393,1197,2,2,18.90,5,4,468000,Hyundai
3,Hyundai i10,2014,1,42328,1086,1,1,19.81,5,5,342000,Hyundai
4,Tata Nano,2017,1,12039,624,1,1,25.40,4,4,193000,Tata
...,...,...,...,...,...,...,...,...,...,...,...,...
1017,Maruti Alto LXi,2009,1,50000,796,1,1,19.70,5,5,1600000,Maruti
1018,Maruti Ertiga VDI,2014,2,225000,1248,1,1,20.77,7,5,5500000,Maruti
1019,Volkswagen Vento IPL,2011,1,50000,1598,4,2,14.80,5,6,3500000,Volkswagen
1020,Toyota Corolla Altis,2008,1,90000,1798,3,1,14.53,5,6,200000,Toyota
1021,Mahindra Scorpio M2DI,2012,2,120000,2179,3,1,13.50,5,5,525000,Mahindra

In [338]:
cleaned_df.to_csv('./Final/finalsetone.csv')

In [2]:
setone = pd.read_csv('./Final/finalsetone.csv')

In [4]:
setone.drop('Unnamed: 0',axis=1,inplace=True)
setone

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company
0,Jeep Compass Trailhawk,2019,2,70007,1956,1,2,16.30,5,9,2405000,Jeep
1,Hyundai i20,2021,1,16670,1197,1,1,21.00,5,5,897000,Hyundai
2,Hyundai Grand i10,2015,1,62393,1197,2,2,18.90,5,4,468000,Hyundai
3,Hyundai i10,2014,1,42328,1086,1,1,19.81,5,5,342000,Hyundai
4,Tata Nano,2017,1,12039,624,1,1,25.40,4,4,193000,Tata
...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Maruti Alto LXi,2009,1,50000,796,1,1,19.70,5,5,1600000,Maruti
1012,Maruti Ertiga VDI,2014,2,225000,1248,1,1,20.77,7,5,5500000,Maruti
1013,Volkswagen Vento IPL,2011,1,50000,1598,4,2,14.80,5,6,3500000,Volkswagen
1014,Toyota Corolla Altis,2008,1,90000,1798,3,1,14.53,5,6,200000,Toyota
1015,Mahindra Scorpio M2DI,2012,2,120000,2179,3,1,13.50,5,5,525000,Mahindra

In [7]:
setone['Name'] = setone['Name'].str.split(' ').str[:2].str.join(' ')

In [10]:
setone.to_csv('./Final/CorrectedData/correctsetone.csv')