In [1]:
import pandas as pd
import numpy as np

In [5]:
m_cars = pd.read_csv('./set2.csv')

In [ ]:
m_cars.info()

In [19]:
m_cars.shape

(2714, 11)

### Dealing with Missing Values

In [8]:
format_missing = m_cars.copy()

In [ ]:
format_missing.isnull().sum()

In [37]:
format_missing.dropna(inplace=True)

In [ ]:
format_missing.isnull().sum()

### Backup after Dealing with Missing Values

In [39]:
backupaft_missing = format_missing.copy()

### Formatting and Transforming Price

In [41]:
format_price = backupaft_missing.copy()

In [51]:
format_price.dtypes

Name            object
Price           object
Year             int64
Fuel            object
KMS             object
Engine          object
Owners          object
Transmission    object
Mileage         object
Seats            int64
GearBox         object
dtype: object

In [45]:
# Converting Year from float64 to int64
format_price['Year'] = format_price['Year'].astype(np.int64)

In [49]:
# Converting Seats from float64 to int64
format_price['Seats'] = format_price['Seats'].astype(np.int64)

In [54]:
format_price['Price'] = format_price['Price'].str.replace('Lakh\*','',regex=True)

In [56]:
format_price['Price'] = format_price['Price'].str.replace(' ','',regex=True)

In [58]:
format_price['Price'] = format_price['Price'].str.replace('\*','',regex=True)

In [62]:
format_price.groupby(format_price['Price'].str.len()).sum()

          Year  Seats
Price
1       284078    767
2       393331   1045
3       294049    776
4      2655416   6882
5      1242122   3427
6        46200    112
8       330749    825
9        46436    125

In [ ]:
# PRICE_1
# ------- 24,05,000 -------
# Len of price before removing comma -> 9, Format -> 24,05,000
# Len of price after removing comma -> 7, Format -> 2405000 -- no need to edit it  [[ DONE! ]]

# PRICE_2
# ------- 4,19,000 -------
# Len of price before removing comma -> 8, Format -> 4,19,000
# Len of price after removing comma -> 6, Format -> 419000 -- no need to edit it  [[ DONE! ]]

# PRICE_3
# ------- 85,000 -------
# Len of price before removing comma -> 6, Format -> 85,000 == 85000
# Len of price after removing comma -> 5, Format -> 85000 -- no need to edit it
# One row having 'Cr' [[NEED TO REMOVE IT]]                                      [[ DONE! ]]

# PRICE_4
# ------- 24.99 ------- 
# Len of price before removing dot -> 5, Format -> 24.99Lakhs == 24.99.000
# Len of price after removing dot  -> 4, Format -> 2499 -- need to add 000 zeros [[ DONE! ]]

# PRICE_5
# ------- 1.80 ------- 
# Len of price before removing dot -> 4, Format -> 1.80Lakhs == 1.80.000
# Len of price after removing dot  -> 3, Format -> 180 -- need to add 000 zeros  [[ DONE! ]]

# PRICE_6
# ------- 3.5 -------
# Len of price before removing dot -> 3, Format -> 3.5Lakhs == 3.50.000
# Len of price after removing dot  -> 2, Format -> 35 -- need to add 0000 zeros  [[ DONE! ]]

# PRICE_7
# ------- 24 ------- two digits without dot 
# Len of price -> 2, Format -> 24Lakhs == 24.00.000 -- need to add 00000 zeros

# PRICE_8
# ------- 6 ------- one digit price
# Len of price -> 1, Format -> 6Lakh == 6.00.000 -- need to add 00000 zeros      [[ DONE! ]]

In [73]:
# adding 'lakhslakhslakhs' to two digit price without dot which are actually lakhs for convenience
filter_len = format_price['Price'].str.len()==2

In [74]:
format_price.loc[filter_len,'Price'] = format_price[filter_len]['Price'] + 'TripleTripleTriple'

In [79]:
format_price['Price'] = format_price['Price'].str.replace('\.','',regex=True)

In [80]:
format_price['Price'] = format_price['Price'].str.replace('\,','',regex=True)

In [82]:
format_price['modified_price'] = format_price['Price']

In [84]:
# operation for PRICE_6
filter_len = format_price['Price'].str.len()==2

In [85]:
format_price.loc[filter_len,'modified_price'] = format_price[filter_len]['Price'] + '0000'

In [87]:
# operation for PRICE_5
filter_len = format_price['Price'].str.len()==3

In [88]:
format_price.loc[filter_len,'modified_price'] = format_price[filter_len]['Price'] + '000'

In [89]:
# operation for PRICE_4
filter_len = format_price['Price'].str.len()==4

In [90]:
format_price.loc[filter_len,'modified_price'] = format_price[filter_len]['Price'] + '000'

In [91]:
# operation for PRICE_8
filter_len = format_price['Price'].str.len()==1

In [92]:
format_price.loc[filter_len,'modified_price'] = format_price[filter_len]['Price'] + '00000'

In [93]:
# operation for PRICE_7
format_price['Price'] = format_price['Price'].str.replace('TripleTripleTriple','',regex=True)
format_price['modified_price'] = format_price['modified_price'].str.replace('TripleTripleTriple','',regex=True)

In [94]:
filter_len = format_price['Price'].str.len()==2
format_price.loc[filter_len,'modified_price'] = format_price[filter_len]['Price'] + '00000'

In [96]:
format_price[format_price['modified_price'].str.len()==2]

Empty DataFrame
Columns: [Name, Price, Year, Fuel, KMS, Engine, Owners, Transmission, Mileage, Seats, GearBox, modified_price]
Index: []

In [97]:
format_price.drop('Price',axis=1,inplace=True)

In [98]:
format_price['Price'] = format_price['modified_price']

In [99]:
format_price.drop('modified_price',axis=1,inplace=True)

In [ ]:
format_price.loc[format_price['Price'].str.contains('Crore')]

In [104]:
format_price['Price'] = format_price['Price'].str.replace('Crore','')

In [ ]:
format_price.loc[format_price['Price'].str.len()==3]

In [107]:
filter_len = format_price['Price'].str.len()==1

In [108]:
format_price.loc[filter_len,'Price'] = format_price[filter_len]['Price'] + '0000000'

In [111]:
filter_len = format_price['Price'].str.len()==3

In [112]:
format_price.loc[filter_len,'Price'] = format_price[filter_len]['Price'] + '00000'

In [115]:
# Converting Price from float64 to int64
format_price['Price'] = format_price['Price'].astype(np.int64)

In [ ]:
format_price.dtypes

### Backup DataFrame after Formatting Price

In [117]:
backupaft_price = format_price.copy()

### Formatting and Transforming Engine

In [119]:
format_engine = backupaft_price.copy()

In [122]:
format_engine['Engine'] = format_engine['Engine'].str.replace('cc','')

In [123]:
format_engine['Engine'] = format_engine['Engine'].str.replace('CC','')

In [124]:
format_engine['Engine'] = format_engine['Engine'].str.replace(' ','')

In [126]:
# Converting Engine from float64 to int64
format_engine['Engine'] = format_engine['Engine'].astype(np.int64)

### Backup after Formatting Engine

In [128]:
backupaft_engine = format_engine.copy()

### Formatting and Transforming Mileage

In [129]:
format_mileage = backupaft_engine.copy()

In [131]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace('kmpl','')

In [132]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace(' ','')

In [133]:
format_mileage['Mileage'] = format_mileage['Mileage'].str.replace('km/kg','')

In [135]:
format_mileage['Mileage'] = format_mileage['Mileage'].astype(np.float64)

### Backup after Formatting Mileage

In [137]:
backupaft_mileage = format_mileage.copy()

### Formatting and Transforming KMS

In [138]:
format_kms = backupaft_mileage.copy()

In [140]:
format_kms['KMS'] = format_kms['KMS'].str.replace('kms','')
format_kms['KMS'] = format_kms['KMS'].str.replace('Kms','')

In [141]:
format_kms['KMS'] = format_kms['KMS'].str.replace(' ','')

In [142]:
format_kms['KMS'] = format_kms['KMS'].str.replace(',','')

In [143]:
format_kms['KMS'] = format_kms['KMS'].str.replace('Km','')

In [145]:
format_kms['KMS'] = format_kms['KMS'].astype(np.int64)

### Backup after Formatting KMS

In [146]:
backupaft_kms = format_kms.copy()

### Formatting and Transforming Owners

In [147]:
format_owners = backupaft_kms.copy()

In [ ]:
format_owners.groupby('Owners').sum()

In [149]:
format_owners['Owners'] = format_owners['Owners'].replace({
    "1st Owner": 1,
    "2nd Owner": 2,
    "First Owner": 1,
    "Fourth & Above Owner": 4,
    "Second Owner": 2,
    "Fourth Owner": 4,
    "Third Owner": 3,
})

### Backup after Formatting Owners

In [151]:
backupaft_owners = format_owners.copy()

### Formatting and Transforming Transmission

In [152]:
format_transmission = backupaft_owners.copy()

In [ ]:
grouped = format_transmission.groupby('Transmission')
for name,group in grouped:
    print(name)

In [160]:
format_transmission.loc[format_transmission['Transmission'].str.contains('DL5C'), 'Transmission'] = 'Automatic'

In [170]:
format_transmission.drop(77, axis=0,inplace=True)

In [173]:
format_transmission.loc[format_transmission['Transmission'].str.contains('HR26'), 'Transmission'] = 'Automatic'

In [178]:
format_transmission.loc[95, 'Transmission'] = 'Manual'

In [180]:
format_transmission.loc[96, 'Transmission'] = 'Automatic'

In [182]:
format_transmission['Transmission'] = format_transmission['Transmission'].replace({
    "Manual": 1,
    "Automatic": 2
})

### Backup after Formatting Transmission

In [184]:
backupaft_transmission = format_transmission.copy()

### Formatting and Transforming Fuel

In [185]:
format_fuel = backupaft_transmission.copy()

In [ ]:
format_fuel.groupby('Fuel').sum()

In [187]:
format_fuel['Fuel'] = format_fuel['Fuel'].replace({
    "Petrol": 1,
    "Diesel": 2,
    "CNG": 3,
    "LPG": 4,
    "Electric(Battery)": 5
})

### Backup after Formatting Fuel

In [189]:
backupaft_fuel = format_fuel.copy()

### Formatting and Transforming GearBox

In [190]:
format_gearbox = backupaft_fuel.copy()

In [229]:
gearboxgrouped = format_gearbox.groupby('GearBox')
for name,group in gearboxgrouped:
    print(name)

10
4
5
6
7
8
9

In [195]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].replace({
    "Five Speed Manual Transmission Gearbox": '5',
    "Six Speed Manual": '6',
    "Six Speed Manual Transmission": '6',
})

In [228]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('AT','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('iMT','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('IMT','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('CVT','7')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('IVT','6')

In [226]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7CVT','7')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7DCT','7')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7DSG','7')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('5CVT','5')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('6IVT','6')

In [197]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Speed','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('speed','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('-','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace(' ','')

In [ ]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Steptronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('SteptronicAutomatic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Tiptronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('STronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Stronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('GDCT7DualClutchTransmission','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('GTRONICAutomaticTransmission','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('GTRONIC','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Tronic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('7GDCT','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Manual','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Automatic','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('automatic','')

In [224]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('withSequentialShift','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Sport','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('Transmission','')
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('\+','',regex=True)
format_gearbox['GearBox'] = format_gearbox['GearBox'].str.replace('ATPaddleShifters','',regex=True)

In [211]:
format_gearbox.loc[1214, 'GearBox'] = '6'

In [213]:
format_gearbox.loc[[1214, 2694], 'GearBox'] = '6'

In [217]:
format_gearbox.loc[2477, 'GearBox'] = '5'

In [230]:
format_gearbox['GearBox'] = format_gearbox['GearBox'].astype(np.int64)

### Backup after Formatting GearBox

In [231]:
backupaft_gearbox = format_gearbox.copy()

### Formatting and Transforming Name

In [232]:
format_name = backupaft_gearbox.copy()

In [ ]:
namegroup = format_name.groupby('Name')
for name,group in namegroup:
    print(name)

In [242]:
format_name.loc[format_name['Name'].str.split(' ').str.get(0).str.isnumeric(), 'Name'] = format_name.loc[format_name['Name'].str.split(' ').str.get(0).str.isnumeric(), 'Name'].str.split(' ').str[1:].str.join(" ")

In [245]:
format_name['Name'] = format_name['Name'].str.split(' ').str[:3].str.join(' ')

In [ ]:
name_grouped = format_name.groupby(format_name['Name'].str.split(' ').str[0])
for name,group in name_grouped:
    print(name)

In [249]:
format_name['Name'] = format_name['Name'].str.replace('Bmw','BMW')
format_name['Name'] = format_name['Name'].str.replace('Mercedes-benz','Mercedes-Benz')

In [252]:
format_name['Company'] = format_name['Name'].str.split(' ').str[0]

### Backup after Formatting Name

In [254]:
backupaft_name = format_name.copy()

### Working with Cleaned Data

In [255]:
cleaned_df = backupaft_name.copy()

In [256]:
cleaned_df

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company
0,Maruti XL6,2020,1,22683,1462,1,2,17.99,6,4,1018000,Maruti
1,Maruti Alto K10,2015,1,70620,998,1,1,23.95,5,5,265000,Maruti
2,Maruti Swift,2017,1,30637,1197,1,1,20.40,5,5,466000,Maruti
3,Maruti Ciaz,2018,1,32066,1462,1,1,20.65,5,5,879000,Maruti
4,Honda Brio,2014,1,19311,1198,1,1,19.40,5,5,345000,Honda
...,...,...,...,...,...,...,...,...,...,...,...,...
2709,Maruti Swift Dzire,2019,3,50000,1197,1,1,26.55,5,5,4500000,Maruti
2710,Honda City 1.5,2011,1,110000,1497,2,1,17.00,5,5,284000,Honda
2711,Maruti Swift Dzire,2015,2,60000,1248,1,1,26.59,5,5,400000,Maruti
2712,Mercedes-Benz C-Class C,2012,1,50000,1796,2,2,11.74,5,7,1300000,Mercedes-Benz
2713,Mahindra Scorpio VLX,2014,2,83400,2179,3,2,11.79,8,6,3800000,Mahindra

In [257]:
cleaned_df.to_csv('./Final/finalsettwo.csv')

In [2]:
finalsettwo = pd.read_csv('./Final/finalsettwo.csv')

In [5]:
for name,group in finalsettwo.groupby('Fuel'):
    print(name)

1
2
3
4
5

In [4]:
finalsettwo['fuel'] = finalsettwo['Fuel'].replace({
    4:5,
    5:4
})

In [10]:
finalsettwo.to_csv('./Final/correctsettwo.csv')

In [12]:
finalsettwo.drop('Unnamed: 0',axis=1,inplace=True)
finalsettwo

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company,fuel
0,Maruti XL6,2020,1,22683,1462,1,2,17.99,6,4,1018000,Maruti,1
1,Maruti Alto K10,2015,1,70620,998,1,1,23.95,5,5,265000,Maruti,1
2,Maruti Swift,2017,1,30637,1197,1,1,20.40,5,5,466000,Maruti,1
3,Maruti Ciaz,2018,1,32066,1462,1,1,20.65,5,5,879000,Maruti,1
4,Honda Brio,2014,1,19311,1198,1,1,19.40,5,5,345000,Honda,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,Maruti Swift Dzire,2019,3,50000,1197,1,1,26.55,5,5,4500000,Maruti,3
2621,Honda City 1.5,2011,1,110000,1497,2,1,17.00,5,5,284000,Honda,1
2622,Maruti Swift Dzire,2015,2,60000,1248,1,1,26.59,5,5,400000,Maruti,2
2623,Mercedes-Benz C-Class C,2012,1,50000,1796,2,2,11.74,5,7,1300000,Mercedes-Benz,1
2624,Mahindra Scorpio VLX,2014,2,83400,2179,3,2,11.79,8,6,3800000,Mahindra,2

In [15]:
finalsettwo['Name'] = finalsettwo['Name'].str.split(' ').str[:2].str.join(' ')
finalsettwo

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company,fuel
0,Maruti XL6,2020,1,22683,1462,1,2,17.99,6,4,1018000,Maruti,1
1,Maruti Alto,2015,1,70620,998,1,1,23.95,5,5,265000,Maruti,1
2,Maruti Swift,2017,1,30637,1197,1,1,20.40,5,5,466000,Maruti,1
3,Maruti Ciaz,2018,1,32066,1462,1,1,20.65,5,5,879000,Maruti,1
4,Honda Brio,2014,1,19311,1198,1,1,19.40,5,5,345000,Honda,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2620,Maruti Swift,2019,3,50000,1197,1,1,26.55,5,5,4500000,Maruti,3
2621,Honda City,2011,1,110000,1497,2,1,17.00,5,5,284000,Honda,1
2622,Maruti Swift,2015,2,60000,1248,1,1,26.59,5,5,400000,Maruti,2
2623,Mercedes-Benz C-Class,2012,1,50000,1796,2,2,11.74,5,7,1300000,Mercedes-Benz,1
2624,Mahindra Scorpio,2014,2,83400,2179,3,2,11.79,8,6,3800000,Mahindra,2

In [17]:
finalsettwo.drop('fuel',axis=1,inplace=True)
finalsettwo

,Name,Year,Fuel,KMS,Engine,Owners,Transmission,Mileage,Seats,GearBox,Price,Company
0,Maruti XL6,2020,1,22683,1462,1,2,17.99,6,4,1018000,Maruti
1,Maruti Alto,2015,1,70620,998,1,1,23.95,5,5,265000,Maruti
2,Maruti Swift,2017,1,30637,1197,1,1,20.40,5,5,466000,Maruti
3,Maruti Ciaz,2018,1,32066,1462,1,1,20.65,5,5,879000,Maruti
4,Honda Brio,2014,1,19311,1198,1,1,19.40,5,5,345000,Honda
...,...,...,...,...,...,...,...,...,...,...,...,...
2620,Maruti Swift,2019,3,50000,1197,1,1,26.55,5,5,4500000,Maruti
2621,Honda City,2011,1,110000,1497,2,1,17.00,5,5,284000,Honda
2622,Maruti Swift,2015,2,60000,1248,1,1,26.59,5,5,400000,Maruti
2623,Mercedes-Benz C-Class,2012,1,50000,1796,2,2,11.74,5,7,1300000,Mercedes-Benz
2624,Mahindra Scorpio,2014,2,83400,2179,3,2,11.79,8,6,3800000,Mahindra

In [19]:
finalsettwo.to_csv('./Final/CorrectedData/correctsettwo.csv')